@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
}

body {
  display: block;
  background: #fff;
  font-family: "Inter", sans-serif;
}

.phone-navigation {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-self: center;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

.menu-button,
.mobile-navigation > button {
  background-color: white;
}

.mobile-navigation > button {
  margin: 0.5em 0.5em;
  align-self: flex-end;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.mobile-navigation {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #3a4a42;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0 8px;
}

a {
  text-decoration: none;
}

.mobile-navigation > img {
  width: 2em;
}

.mobile-navigation > ul > li {
  margin-left: 28px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.mobile-navigation > ul > li > a {
  font-size: 24px;
  font-weight: 600;
  color: #3a4a42;
  cursor: pointer;
}

.mobile-navigation.hide {
  display: none;
}

.menu-button.hide {
  display: none;
}

.port-link:hover,
.abt-link:hover,
.contact-link:hover {
  color: #36b37e;
}

h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  color: #36b37e;
}

.home-page {
  background: #fff url(../assets/header-illsutration-mobile.svg) no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.home-page h1:first-child {
  margin-top: 1.5em;
}

.home-page p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 2em 24px;
  text-align: center;
  color: #172b4d;
}

.home-page button {
  background: none;
}

.desktop-navigation {
  display: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-model {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 170px;
}

.social-media > ul > li > a {
  text-decoration: none;
  color: #42526e;
  font-size: 70px;
  margin-top: 1.5em;
}

/* Card works group */
.recent-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px repeat(5, 6fr);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.recent-works h1:first-child {
  padding: 1em;
}

.recent-works h1:first-child::after {
  content: "";
  height: 4px;
  width: 48px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
  z-index: -1;
  background: #36b37e;
  border-radius: 8px;
}

.card-work {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 1em auto;
  width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: box-shadow 0.4s ease-out;
}

.card-work > .card-tags > li {
  background: #ebf0ee;
  font-size: 12px;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 4px;
}

.card-image {
  overflow: hidden;
  box-sizing: border-box;
  background: rgb(224, 223, 223);
}

.card-image img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.card-tags,
.cat-tags {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.about-me {
  margin-top: 2em;
  background: url(../assets/illustration\ 1-\ about\ me-mobile.svg) no-repeat 100% 0%, url(../assets/illustration\ 2-about\ me\ mobile.svg) no-repeat 0 300px;
  text-align: center;
  padding: 2em;
}

.about-me p {
  font-size: 20px;
  color: #42526e;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  width: fit-content;
}

.card-abt-me {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0 0 0;
  margin-bottom: 2em;
  height: 352px;
  width: 327px;
  background: #ebf0ee;
  border: 1px lightgrey solid;
  border-radius: 5px;
  left: calc(50% - 327px / 2);
  transition: box-shadow 0.4s ease-out;
}

.card-cat > .cat-tags > li {
  background: white;
  color: #36b37e;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1em 0.5em;
  margin: 1em 0.5em;
  border-radius: 5px;
}

.cat-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-title {
  font-size: 24px;
  color: #344563;
  font-weight: 600;
}

.cat-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
}

.footer-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url(../assest/illustration-contact-form.svg) no-repeat 100% 90%;
  padding: 2em 5em;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 2em;
}

.form-fields {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

input,
textarea {
  width: 327px;
  padding: 1em;
  margin: 1em 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #091e42;
}

.input-email-form {
  display: flex;
  flex-direction: column;
  color: #36b37e;
}

.input-name {
  display: flex;
  flex-direction: column;
}

.submit-button > small {
  padding: 0;
  margin: 0;
  color: #36b37e;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}

.link-mail {
  color: #42526e;
}

@media screen and (min-width: 768px) {
  .phone-navigation {
    display: none;
  }

  .footer-container > .social-media {
    margin-top: 18em;
  }

  .input-name,
  .input-email,
  textarea {
    min-width: 327px;
    width: calc(95vw - 684px);
  }

  .submit-button {
    align-self: flex-start;
  }

  .input-name input {
    max-width: 100%;
    min-width: 100%;
    width: inherit;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .footer-container {
    margin-bottom: 0;
    padding-bottom: 0;
    background: url(../assets/illustration-1-contact-form-desktop.svg) no-repeat 0% 90%, url(../assets/illustration-2-contact-form-desktop.svg) no-repeat 30% 90%, url(../assets/contact\ form-illustratoin-3-desktop.svg) no-repeat 100% 90%;
  }

  .card-abt-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
  }

  .home-page {
    background: #fff url(../assets/Header-llustration-desktop.svg) no-repeat;
    background-size: 100%;
    padding-bottom: 8em;
  }

  .desktop-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1em;
    margin: 0;
  }

  .desktop-navigation li {
    list-style: none;
    padding: 0;
    margin: 1em;
    font-size: 14px;
    font-weight: 700;
    color: #42526e;
    cursor: pointer;
  }

  .title-header {
    padding-top: 3em;
  }

  .recent-works {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px repeat(3, 1fr);
  }

  .recent-works h1:first-child {
    align-self: flex-end;
    padding: 1em;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .recent-works h1:first-child::after {
    content: none;
  }

  .link-mail {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .home-page {
    padding-bottom: 15em;
  }

  .recent-works {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px repeat(2, 1fr);
  }

  .recent-works h1:first-child {
    padding: 1em;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .about-me {
    background: url(../assets/illustration-about-me-2-desktop.svg) no-repeat 0% 20%, url(../assets/illustration-about\ me-1-desktop.svg) no-repeat 100% 0%;
  }

  .link-mail {
    display: none;
  }
}
