/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable no-eol-whitespace */
/* stylelint-disable block-closing-brace-newline-before */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.abt-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "card"
    "card"
    "card";
  gap: 1px;
}

.body h1 {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  max-width: 400px;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  margin: 20px;
}

.h-menu {
  display: none;
}

.body h2 {
  color: #36b37e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
}

.body p {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  margin-top: 40px;
}

.icon {
  margin-top: 40px;
}

.icon ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icon a {
  margin: 10px;
  color: #505f79;
  font-size: 25px;
}

.icon a:hover {
  cursor: pointer;
  color: blue;
}

@media (max-width: 770px) {
  .h-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    height: 60px;
  }

  .body {
    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: 100%;
  }

  .body h1 {
    margin-top: 60px;
  }

  .menu {
    display: none;
  }

  .bar {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: black;
    margin: 5px;
  }

  .body p {
    width: 95%;
    margin-left: 10px;
  }

  .h-menu a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #28352f;
  }

  .h-menu a:hover {
    color: blue;
    cursor: pointer;
  }

  .bar:hover {
    cursor: pointer;
    background: blue;
    transform: rotateX(25deg);
  }

  .pointer li {
    list-style-type: none;
    color: white;
  }

  .pointer a:hover {
    cursor: pointer;
    color: rgb(190, 190, 214);
  }

  .pointer {
    margin-top: 80px;
    color: white;
  }

  .page-1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "line"
      "grid"
      "grid"
      "grid"
      "grid"
      "grid"
      "grid";
  }

  .abt-card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "card"
      "card"
      "card";
    gap: 1px;
  }

  form {
    width: 60%;
  }

  .white-color {
    color: rgb(129, 129, 129);
    size: 200%;
  }

  .card h1 {
    color: #344563;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    align-items: center;
  }
}

.header h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 50px;
}

hr.line {
  display: none;
  background: #36b37e;
  border-radius: 24px;
  margin-left: 45%;
  width: 48px;
  height: 4px;
  order: 1;
  flex: none;
  flex-grow: 0;
  border-top: 1px solid red;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
}

.grid1 {
  background-image: url(../images/background-contact-shape2.png);
  height: 300px;
  border-radius: 5px;
}

.grid2 {
  background: #fff;
  border-radius: 10px;
  width: 100%;
}

.grid2 h2 {
  color: #3a4a42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.grid2 ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}

.grid2 li {
  border: 1px solid #ebf0ee;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 5px;
  color: #3a4a42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.grid2 button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #36b37f;
  background: #36b37f;
  width: 125px;
  height: 50px;
  margin-bottom: 30px;
}

.abt-main {
  background-repeat: no-repeat;
  background-position: right 0%;
}

.abt-main h3 {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.abt-main p {
  color: #42526e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 30px;
}

.abt-main button {
  border: 1px solid #36b37f;
  width: 160px;
  height: 50px;
  border-radius: 4px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.abt-main button:hover {
  cursor: pointer;
  color: blue;
  background: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d0d9d4;
  margin: 30px;
  background: #ebf0ee;
  border-radius: 20px;
  text-align: center;
}

.card h1 {
  color: #344563;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  align-items: center;
}

.card ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.card li {
  border: 1px solid #fff;
  padding: 6px;
  border-radius: 4px;
  background: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
}

.card li:hover {
  cursor: pointer;
  color: blue;
  background: cyan;
}

input,
textarea {
  outline: none;
}

form {
  position: relative;
  width: 100%;
  border-radius: 1px;
  background: #fff;
}

.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 1px;
  background: #fff;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration::before,
.form-left-decoration::after,
.form-right-decoration::before,
.form-right-decoration::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 1px;
  background: #fff;
}

.form-left-decoration::before {
  top: -20px;
}

.form-left-decoration::after {
  top: 20px;
  left: 10px;
}

.form-right-decoration::before {
  top: -20px;
  right: 0;
}

.form-right-decoration::after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.form-inner {
  padding: 40px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 1px;
  background: #e0e4e6;
}

.form-inner textarea {
  resize: none;
}

.grey {
  color: grey;
}
@media screen and (min-width: 375px) and (max-width: 786px) {
  .header.h1 {
    width: 375px;
    height: 97px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 20px;
  }

  p {
    width: 380px;
    height: 164px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    border-width: 80%;
    color: #172b4d;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .pointer li {
    list-style-type: none;
    color: white;
  }

  .pointer a:hover {
    cursor: pointer;
    color: rgb(190, 190, 214);
  }

  .pointer.i {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px / 2 + 0.5px);
    bottom: 4px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
  }

  .pointer {
    margin-top: 80px;
    color: white;
  }

  .white-color {
    color: rgb(129, 129, 129);
    size: 200%;
  }

  .abt-main.p {
    width: 380px;
    height: 189px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    bottom: 30px;
  }

  .abt-main {
    background-image: url(../images/illustration\ 1-\ about\ me-mobile.png.jpg), url(../images/illustration\ 2-about\ me\ mobile.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
    max-height: fit-content; 
  }

  .abt-main button {
    border: 1px solid #36b37f;
    width: 160px;
    height: 50px;
    border-radius: 4px;
    background: #36b37f;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    padding: 12px;
  }

  .header h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    margin-top: 50px;
    padding: 20px;
  }

  .card h3 {
    color: #344563;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    align-items: center;
  }

  .header h3 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    margin-top: 50px;
    padding: 20px;
  }
}